<div>
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            <a>{{ 'nav.home' | translate }}</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a>{{ 'nav.auth.title' | translate }}</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            {{ 'nav.auth.role.title'| translate}}
        </nz-breadcrumb-item>
    </nz-breadcrumb>
</div>
<form nz-form [formGroup]="queryForm" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
            <nz-form-item nzFlex>
                <nz-form-label>{{'data.code'|translate}}</nz-form-label>
                <nz-form-control>
                    <input nz-input [placeholder]="" [formControlName]="'query.code'" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'" (click)="doSearch()">{{'button.search'|translate}}</button>
            <button nz-button (click)="resetForm()">{{'button.clear'|translate}}</button>
            <a class="collapse" (click)="toggleCollapse()">
                {{'button.collapse'|translate}}
                <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
            </a>
        </div>
    </div>
</form>
<div class="buttonBar">
    <button nz-button [nzType]="'primary'" (click)="doAdd()"><span>{{'button.add'|translate}}</span></button>
</div>
<div class="search-result-list">
    <nz-table #xTable [nzData]="list"  [nzFrontPagination]="false" [nzPageSize]="20" [nzTotal]="total"
    [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize">
        <thead>
            <tr>
                <th>{{'data.code'|translate}}</th>
                <th>{{'data.nameCn'|translate}}</th>
                <th>{{'data.nameEn'|translate}}</th>
                <th>{{'data.createdTime'|translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of xTable.data">
                <td><a routerLink="role-nav/{{data.id}}">{{ data.code}}</a></td>
                <td>{{ data.nameCn}}</td>
                <td>{{ data.nameEn}}</td>
                <td>{{ data.createdTime+"Z" | date:'yyyy-MM-dd HH:mm':'GMT+08:00'}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>