.ant-advanced-edit-form {
    padding: 20px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
  }

[nz-form-label] {
    overflow: visible;
  }

.ant-form-item-label 
{
  width : 100px
}
