<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a>{{ 'nav.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>{{ 'nav.inbound.title' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{ 'nav.inbound.asn.title'| translate}}
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<form nz-form [formGroup]="queryForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.warehouse'|translate}}</nz-form-label>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a warehouse" formControlName="queryAsn.whId">
          <nz-option *ngFor="let wh of whs" nzValue={{wh.id}} nzLabel={{wh.name}}></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.customer'|translate}}</nz-form-label>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a customer" formControlName="queryAsn.custId"
          (ngModelChange)="onChange($event)">
          <nz-option *ngFor="let cust of custs" nzValue={{cust.id}} nzLabel={{cust.name}}></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.brand'|translate}}</nz-form-label>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a brand" formControlName="queryAsn.brandId">
          <nz-option *ngFor="let brand of brands" nzValue={{brand.id}} nzLabel={{brand.name}}></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8" [hidden]="false">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.bizCode'|translate}}</nz-form-label>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a bizCode" formControlName="queryAsn.bizCode">
          <nz-option nzLabel="Retail" nzValue="Retail"></nz-option>
          <nz-option nzLabel="EComm" nzValue="EComm"></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [hidden]="false">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.goodsType'|translate}}</nz-form-label>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a goodsType" formControlName="queryAsn.goodsType">
          <nz-option nzLabel="Matrial" nzValue="Mat"></nz-option>
          <nz-option nzLabel="Product" nzValue="Prod"></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [hidden]="false">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.status'|translate}}</nz-form-label>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a status" formControlName="queryAsn.asnStatus">
          <nz-option nzLabel="None" nzValue="None"></nz-option>
          <nz-option nzLabel="Audit" nzValue="Audit"></nz-option>
          <nz-option nzLabel="Finished" nzValue="Finished"></nz-option>
          <nz-option nzLabel="Cancel" nzValue="Cancel"></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8" [hidden]="!controlArray[7].show">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.code'|translate}}</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="placeholder" [formControlName]="'queryAsn.asnCode'" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [hidden]="!controlArray[8].show">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.batchNo'|translate}}</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="placeholder" [formControlName]="'queryAsn.batchNo'" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8" [hidden]="!controlArray[9].show">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.checkStatus'|translate}}</nz-form-label>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a checkStatus"
          formControlName="queryAsn.checkStatus">
          <nz-option nzLabel="None" nzValue="None"></nz-option>
          <nz-option nzLabel="Doing" nzValue="Doing"></nz-option>
          <nz-option nzLabel="Done" nzValue="Done"></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [hidden]="!controlArray[10].show">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.invoiceNo'|translate}}</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="placeholder" [formControlName]="'queryAsn.invoiceNo'" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [hidden]="!controlArray[11].show">
      <nz-form-item nzFlex>
        <label nz-checkbox [formControlName]="'queryAsn.isCiq'">{{'isCiq'|translate}}</label>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="doSearch()">{{'button.search'|translate}}</button>
      <button nz-button (click)="resetForm()">{{'button.clear'|translate}}</button>
      <a class="Collapse" (click)="toggleCollapse()">
        {{'button.collapse'|translate}}
        <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
      </a>
    </div>
  </div>
</form>
<div class="buttonBar">
  <button nz-button [nzType]="'primary'" (click)="doAdd()"><span>{{'button.add'|translate}}</span></button>
  <!--弹窗-->
  <asn-add-form [addFormVisible]="isAddVisible" (visibleChangeBack)="visibleChangeA($event)"></asn-add-form>
  <button nz-button [nzType]="'primary'" (click)="doEdit()"><span>{{'button.edit'|translate}}</span></button>
  <!--弹窗-->
  <asn-edit-form [editFormVisible]="isEditVisible" [id]="asnId" (visibleChangeBack)="visibleChangeE($event)">
  </asn-edit-form>
  <button nz-button [nzType]="'default'" (click)="doImport()"><span>{{'button.detailImport'|translate}}</span></button>
  <button nz-button [nzType]="'danger'" (click)="doCheck()"><span>{{'button.asnAffirm'|translate}}</span></button>
  <button nz-button [nzType]="'primary'"
    (click)="doAffirm()"><span>{{'button.asnCheckAffirm'|translate}}</span></button>
</div>
<div class="search-result-list">
  <ng-template #totalTemplate let-total>Total {{ total }} items</ng-template>
  <nz-table #xTable [nzData]="asnList" [nzFrontPagination]="false" [nzPageSize]="20" [nzTotal]="total"
    [nzLoading]="loading" [nzShowTotal]="totalTemplate" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" (nzPageIndexChange)="changePageIndex($event)"
    (nzPageSizeChange)="changePageSize($event)">
    <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th>{{'data.code'| translate }}</th>
        <th>{{'data.batchNo'| translate}}</th>
        <th>{{'data.warehouse'|translate}}</th>
        <th>{{'data.customer'|translate}}</th>
        <th>{{'data.brand'|translate}}</th>
        <th>{{'data.refCode'|translate}}</th>
        <th>{{'data.srcCode'| translate}}</th>
        <th>{{'data.totalQty'|translate}}</th>
        <th>{{'data.status'|translate}}</th>
        <th>{{'data.checkStatus'|translate}}</th>
        <th>{{'data.createdTime'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of xTable.data">
        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
        <td><a routerLink='details/{{ data.id }}'>{{ data.code }}</a></td>
        <td>{{ data.batchNo}}</td>
        <td>{{ data.whId }}</td>
        <td>{{ data.custId }}</td>
        <td>{{ data.brandId }}</td>
        <td>{{ data.refCode }}</td>
        <td>{{ data.srcCode }}</td>
        <td>{{ data.pieceQty}}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.checkStatus }}</td>
        <td>{{ data.createdTime+"Z" | date:'yyyy-MM-dd HH:mm':'GMT+08:00'}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>