<div>
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            {{'nav.home'|translate}}
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a>{{'nav.inbound.title'|translate}}</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            {{'nav.inbound.title'|translate}}
        </nz-breadcrumb-item>
    </nz-breadcrumb>
</div>
<form nz-form [formGroup]="queryForm" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
            <nz-form-item nzFlex>
                <nz-form-label>{{'data.warehouse'|translate}}</nz-form-label>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a warehouse"
                    formControlName="queryInbound.whId">
                    <nz-option *ngFor="let wh of whs" nzValue={{wh.id}} nzLabel={{wh.name}}></nz-option>
                </nz-select>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-form-item nzFlex>
                <nz-form-label>{{'data.customer'|translate}}</nz-form-label>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a customer"
                    formControlName="queryInbound.custId" (ngModelChange)="onChange($event)">
                    <nz-option *ngFor="let cust of custs" nzValue={{cust.id}} nzLabel={{cust.code}}></nz-option>
                </nz-select>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-form-item nzFlex>
                <nz-form-label>{{'data.brand'|translate}}</nz-form-label>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a brand"
                    formControlName="queryInbound.brandId">
                    <nz-option *ngFor="let brand of brands" nzValue={{brand.id}} nzLabel={{brand.code}}></nz-option>
                </nz-select>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
            <nz-form-item nzFlex>
                <nz-form-label>{{'data.code'|translate}}</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="code" [formControlName]="'queryInbound.code'" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-form-item nzFlex>
                <nz-form-label>{{'data.batchNo'|translate}}</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="batchNo" [formControlName]="'queryInbound.batchNo'" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-form-item nzFlex>
                <nz-form-label>{{'data.status'|translate}}</nz-form-label>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a status"
                    formControlName="queryInbound.status">
                    <nz-option nzLabel="None" nzValue="None"></nz-option>
                    <nz-option nzLabel="Audit" nzValue="Audit"></nz-option>
                    <nz-option nzLabel="Finished" nzValue="Finished"></nz-option>
                    <nz-option nzLabel="Cancel" nzValue="Cancel"></nz-option>
                </nz-select>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8" [hidden]="!controlArray[6].show">
            <nz-form-item nzFlex>
                <nz-form-label>{{'data.rcvStatus'|translate}}</nz-form-label>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a rcvStatus"
                    formControlName="queryInbound.rcvStatus">
                    <nz-option nzLabel="None" nzValue="None"></nz-option>
                    <nz-option nzLabel="Doing" nzValue="Doing"></nz-option>
                    <nz-option nzLabel="Done" nzValue="Done"></nz-option>
                </nz-select>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8" [hidden]="!controlArray[6].show">
            <nz-form-item nzFlex>
                <nz-form-label>{{'data.qcStatus'|translate}}</nz-form-label>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a qcStatus"
                    formControlName="queryInbound.qcStatus">
                    <nz-option nzLabel="None" nzValue="None"></nz-option>
                    <nz-option nzLabel="Doing" nzValue="Doing"></nz-option>
                    <nz-option nzLabel="Done" nzValue="Done"></nz-option>
                </nz-select>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8" [hidden]="!controlArray[8].show">
            <nz-form-item nzFlex>
                <nz-form-label>{{'data.paStatus'|translate}}</nz-form-label>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a pastatus"
                    formControlName="queryInbound.paStatus">
                    <nz-option nzLabel="None" nzValue="None"></nz-option>
                    <nz-option nzLabel="Doing" nzValue="Doing"></nz-option>
                    <nz-option nzLabel="Done" nzValue="Done"></nz-option>
                </nz-select>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'" (click)="doQuery()">{{'button.search'|translate}}</button>
            <button nz-button (click)="resetForm()">{{'button.clear'|translate}}</button>
            <a class="collapse" (click)="toggleCollapse()">
                {{'button.collapse'|translate}}
                <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
            </a>
        </div>
    </div>
</form>
<nz-divider nzText=""></nz-divider>
<button nz-button [nzType]="'primary'" (click)="doAdd()"><span>{{'button.add'|translate}}</span></button>
<inbound-add-form  [formVisible]="isVisible" (visibleChangeBack)="visibleChange($event)">

</inbound-add-form>
<button nz-button [nzType]="'danger'" (click)="doRcv()"><span>{{'button.rcvAffirm'|translate}}</span></button>
<button nz-button [nzType]="'primary'" (click)="doQc()"><span>{{'button.qcAffirm'|translate}}</span></button>
<button nz-button [nzType]="'primary'" (click)="doPutAway()"><span>{{'button.putAwayAffirm'|translate}} </span></button>
<div class="search-result-list">
    <nz-table #xTable [nzData]="inboundList" [nzFrontPagination]="false" [nzPageSize]="20" [nzTotal]="total" [nzLoading]="loading"
        [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzCurrentPageDataChange)="currentPageDataChange($event)"
        (nzPageIndexChange)="changePageIndex($event)" (nzPageSizeChange)="changePageSize($event)">
        <thead>
            <tr>
                <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
                    (nzCheckedChange)="checkAll($event)"></th>
                <th>{{'data.code'|translate}}</th>
                <th>{{'data.batchNo'|translate}}</th>
                <th>{{'data.warehouse'|translate}}</th>
                <th>{{'data.customer'|translate}}</th>
                <th>{{'data.brand'|translate}}</th>
                <th>{{'data.asnCode'|translate}}</th>
                <th>{{'data.status'|translate}}</th>
                <th>{{'data.rcvStatus'|translate}}</th>
                <th>{{'data.qcStatus'|translate}}</th>
                <th>{{'data.paStatus'|translate}}</th>
                <th>{{'data.createdTime'|translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of xTable.data">
                <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" [nzDisabled]="data.disabled"
                    (nzCheckedChange)="refreshStatus()"></td>
                <td><a routerLink='/in/inboundDetails/{{ data.id }}'>{{ data.code }}</a></td>
                <td>{{ data.batchNo}}</td>
                <td>{{ data.whId }}</td>
                <td>{{ data.custId }}</td>
                <td>{{ data.brandId }}</td>
                <td><a routerLink='/in/asn/asnDetails/{{ data.asnId }}'>{{ data.asnCode }}</a></td>
                <td>{{data.status}}</td>
                <td>{{data.rStatus}}</td>
                <td>{{data.qcStatus}}</td>
                <td>{{data.pStatus}}</td>
                <td>{{ data.createdTime + 'Z'| date:'yyyy-MM-dd HH:mm':'GMT+08:00'}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>