<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      {{'nav.home'|translate}}
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>{{'nav.outbound.title'|translate}} </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{'nav.list'|translate}}
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<form nz-form [formGroup]="queryForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label> {{ 'data.code'|translate }}</nz-form-label>
        <nz-form-control>
          <input nz-input [placeholder]="" [formControlName]="'query.code'" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label> {{ 'data.dn.code'|translate }}</nz-form-label>
        <nz-form-control>
          <input nz-input [placeholder]="" [formControlName]="'query.dnCode'" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="doSearch()">{{'button.search'|translate}}</button>
      <button nz-button (click)="resetForm()">{{'button.clear'|translate}}</button>
      <a class="collapse" (click)="toggleCollapse()">
        {{'button.collapse'|translate}}
        <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
      </a>
    </div>
  </div>
</form>
<nz-divider nzText=""></nz-divider>
<button nz-button [nzType]="'danger'" (click)="doCheck()"><span>{{'button.allot'|translate}}</span></button>
<button nz-button [nzType]="'primary'" (click)="doWave()"><span>{{'button.wave'|translate}}</span></button>
<button nz-button [nzType]="'danger'" (click)="doPick()"><span>{{'button.pick'|translate}}</span></button>
<button nz-button [nzType]="'primary'" (click)="doRecheck()"><span>{{'button.recheck'|translate}}</span></button>
<button nz-button [nzType]="'danger'" (click)="doHandOver()"><span>{{'button.handover'|translate}}</span></button>
<div class="search-result-list" nowrap="nowrap">
  <nz-table #xTable [nzData]="outboundList" [nzFrontPagination]="false" [nzPageSize]="20" [nzTotal]="total"
    [nzLoading]="loading" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" (nzPageIndexChange)="changePageIndex($event)"
    (nzPageSizeChange)="changePageSize($event)" [nzScroll]="{x:'2000px'}">
    <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)" nowrap="nowrap"></th>
        <th nowrap="nowrap">{{'data.code'|translate}}</th>
        <th nowrap="nowrap">{{'data.refNo'|translate}}</th>
        <th nowrap="nowrap">{{'data.batchNo'|translate}}</th>
        <th nowrap="nowrap">{{'data.warehouse'|translate}}</th>
        <th nowrap="nowrap">{{'data.customer'|translate}}</th>
        <th nowrap="nowrap">{{'data.brand'|translate}}</th>
        <th nowrap="nowrap">{{'data.bizCode'|translate}}</th>
        <th nowrap="nowrap">{{'data.goodsType'|translate}}</th>
        <th nowrap="nowrap">{{'data.srcCode'|translate}}</th>
        <th nowrap="nowrap">{{'data.status'|translate}}</th>
        <th nowrap="nowrap">{{'data.outbound.allotstatus'|translate}}</th>
        <th nowrap="nowrap">{{'data.outbound.pickstatus'|translate}}</th>
        <th nowrap="nowrap">{{'data.outbound.recheckstatus'|translate}}</th>
        <th nowrap="nowrap">{{'data.outbound.handOverstatus'|translate}}</th>
        <th nowrap="nowrap">{{'data.outbound.actualAt'|translate}}</th>
        <th nowrap="nowrap">{{'data.createdTime'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of xTable.data">
        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" [nzDisabled]="data.disabled"
          (nzCheckedChange)="refreshStatus()"></td>
        <td><a routerLink='/out/outboundDetails/{{ data.id }}'>{{ data.code }}</a></td>
        <td>{{ data.refNo }}</td>
        <td>{{ data.batchNo }}</td>
        <td>{{ data.whId }}</td>
        <td>{{ data.custId }}</td>
        <td>{{ data.brandId}}</td>
        <td>{{ data.bizCode}}</td>
        <td>{{ data.goodsType}}</td>
        <td>{{ data.srcCode}}</td>
        <td>{{ data.status }}</td>
        <td>{{data.allotStatus}}</td>
        <td>{{ data.pickStatus }}</td>
        <td>{{ data.scanStatus}}</td>
        <td>{{data.actualAt}}</td>
        <td>{{data.handoverStatus}}</td>
        <td>{{ data.createdTime+'Z'| date:'yyyy-MM-dd HH:mm':'GMT+08:00'}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>