<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      {{ 'nav.home' | translate }}
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{ 'nav.inbound' | translate }}
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/in/asnCheck">{{ 'nav.asnCheck.title' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{'nav.details'|translate}}
      <span class="right"><i nz-icon nzType="sync" nzTheme="outline" (click)="doRefresh()"></i></span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<nz-divider nzText=""></nz-divider>
<form nz-form [formGroup]="validateForm" class="ant-advanced-details-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
         {{'data.warehouse'|translate}} : {{asn.whId}}
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        {{'data.customer'|translate}} : {{asn.custId}}
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
         {{'data.brand'|translate}}:{{asn.brandId}}
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
         {{'data.code'|translate}}:{{asnCheck.code}}
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        {{'data.batchNo'|translate}}:{{asn.batchNo}}
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
         {{'data.refNo'|translate}} :{{asn.refNo}}
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
         {{'data.bizCode'|translate}} :{{asn.bizCode}}
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
         {{'data.goodsType'|translate}} :{{asn.goodsType}}
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        {{'data.invoiceNo'|translate}}:{{asn.invoiceNo}}
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        {{'data.asnCode'|translate}}:{{asn.code}}
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <label nz-checkbox [formControlName]="'ctrl_isCiq'">isCiq</label>
      </nz-form-item>
    </div>
  </div>
</form>
<nz-divider nzText=""></nz-divider>
<div class="search-result-list" *ngIf="asnCheck">
  <nz-table #basicTable [nzData]="asnCheckDs" [nzPageSize]=20>
    <thead>
      <tr>
        <th>{{'data.id'|translate}}</th>
        <th>{{'data.sku'|translate}}</th>
        <th>{{'data.barcode'|translate}}</th>
        <th>{{'data.result'|translate}}</th>
        <th>{{'data.qty'|translate}}</th>
        <th>{{'data.createdTime'|translate}}</th>
        <th>{{'data.details'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.sku}}</td>
        <td>{{ data.barcode }}</td>
        <td>{{ data.typeCode}}</td>
        <td>{{ data.qty }}</td>
        <td>{{ data.createdTime| date:'yyyy-MM-dd HH:mm':'GMT+08:00'}}</td>
        <td>
          <a routerLink="/in/asnCheck/detail-list/{{data.hId}}" [queryParams]="{id:data.id}">
            <i nz-icon nzType="file-image" nzTheme="outline"></i>
          </a>
        </td>

      </tr>
    </tbody>
  </nz-table>
</div>