<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      Home
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>Inbound</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      Rcv List
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<nz-divider nzText=""></nz-divider>
<form nz-form [formGroup]="queryForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8" *ngFor="let control of controlArray" [hidden]="!control.show">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="'field' + control.index"> {{ control.code }}</nz-form-label>
        <nz-form-control>
          <input nz-input [placeholder]="control.id" [formControlName]="'query.' + control.id"
            [attr.id]="'field' + control.index" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="doSearch()">Search</button>
      <button nz-button (click)="resetForm()">Clear</button>
      <a class="collapse" (click)="toggleCollapse()">
        Collapse
        <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
      </a>
    </div>
  </div>
</form>
<nz-divider nzText=""></nz-divider>
<div class="search-result-list">
  <nz-table #xTable [nzData]="rcvList"
  [nzFrontPagination] = "false"  [nzPageSize]="20"   [nzTotal]="total"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
   (nzCurrentPageDataChange)="currentPageDataChange($event)"
   (nzPageIndexChange)="changePageIndex($event)"   
   (nzPageSizeChange)="changePageSize($event)"
  [nzTotal] = total>
    <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th>order id</th>
        <th>store</th>
        <th>opt code</th>
        <th>carton</th>
        <th>barcode</th>
        <th>qty</th>
        <th>created by</th>
        <th>created Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of xTable.data">
        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.orderId]" [nzDisabled]="data.disabled"
          (nzCheckedChange)="refreshStatus()"></td>
        <td><a routerLink='/inboundDetails/{{ data.orderId}}'>{{ data.orderId }}</a></td>
        <td>{{ data.store}}</td>
        <td>{{ data.optCode}}</td>
        <td>{{ data.carton}}</td>
        <td>{{ data.barcode}}</td>
        <td>{{ data.qty}}</td>
        <td>{{ data.createdby}}</td>
        <td>{{ data.createdTime| date:'yyyy-MM-dd HH:mm':'GMT+08:00'}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>