<Navbar [leftContent]="'返回'" (click)="goBack()">
    库存管理-移货任务
</Navbar>
<List [className]="'my-list'">
    <ListItem [extra]="'extra content'">Title</ListItem>
    <ListItem *ngFor="let item of list">
        <div *ngIf="item.downStatus=='Init'">
            <a routerLink="/stock/move/down-scan/{{item.id}}" [queryParams]="{code:item.code}">
                {{item.code}}
            </a>
            {{item.downStatus}}
        </div>
        <div *ngIf="item.upStatus=='Init'">
            <a routerLink="/stock/move/up-scan/{{item.id}}" [queryParams]="{code:item.code}">
                {{item.code}}
            </a>
            {{item.upStatus}}
        </div>
    </ListItem>
</List>