<Navbar [leftContent]="leftContent" [rightContent]="rightContent">
    出库-复核任务清单
</Navbar>
<List [className]="'my-list'">
    <ListItem [extra]="'状态'">复核单</ListItem>
    <ListItem *ngFor="let item of list">
        <a routerLink="/outbound/recheck-scan/{{item.id}}" [queryParams]="{code:item.code}">
            {{item.code}}
        </a>
        {{item.status}}
    </ListItem>
</List>

<ng-template #leftContent>
    <a (click)="goBack()">返回</a>
</ng-template>

<ng-template #rightContent>
    <a (click)="doRefresh()">刷新</a>
</ng-template>

