<div>
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            {{'nav.home'|translate}}
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a>{{'nav.returnIn.title'|translate}}</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            {{'nav.returnIn.rn'|translate}}
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            {{'nav.details'|translate}}
            <span class="right"><i nz-icon nzType="sync" nzTheme="outline" (click)="doRefresh()"></i></span>
        </nz-breadcrumb-item>
    </nz-breadcrumb>
</div>

<div class="search-result-list">
    <ng-template #totalTemplate let-total>Total {{ total }} items</ng-template>
    <nz-table #xTable [nzData]="rnList">
        <thead>
            <tr>
                <th>{{'data.id'|translate}}</th>
                <th>{{'data.hid'|translate}}</th>
                <th>{{'data.socode'|translate}}</th>
                <th>{{'data.sosubcode'|translate}}</th>
                <th>{{'data.sku'|translate}}</th>
                <th>{{'data.barcode'|translate}}</th>
                <th>{{'data.actualprice'|translate}}</th>
                <th>{{'data.qty'|translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of xTable.data">
                <td>{{data.id}}</td>
                <td>{{data.hId}}</td>
                <td>{{data.soCode}}</td>
                <td>{{data.soSubCode}}</td>
                <td>{{data.sku}}</td>
                <td>{{data.barcode}}</td>
                <td>{{data.actualPrice}}</td>
                <td>{{data.qty}}</td>
            </tr>
        </tbody>
    </nz-table>