<div>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        Home
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>Inbound</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Put Away List
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div class="search-result-list">
    <nz-table #xTable [nzData]="putawayList" [nzPageSize]=20 (nzCurrentPageDataChange)="currentPageDataChange($event)">
      <thead>
        <tr>
          <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
            (nzCheckedChange)="checkAll($event)"></th>
          <th>qc code</th>
          <th>inbound code</th>
          <th>status</th>
          <th>created Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of xTable.data">
          <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" [nzDisabled]="data.disabled"
            (nzCheckedChange)="refreshStatus()"></td>
          <td><a routerLink='/putAwayDetails/{{ data.id}}'>{{ data.code }}</a></td>
          <td><a routerLink='/inboundDetails/{{ data.inboundId}}'>{{ data.inboundId }}</a></td>
          <td>{{ data.status }}</td>
          <td>{{ data.createdTime | date:'yyyy-MM-dd HH:mm':'GMT+08:00'}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
