<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="220px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>{{'appName'|translate}}</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li *ngFor="let item of items" nz-submenu nzTitle="{{item.title}}" nzIcon="form">
        <ul>
          <li *ngFor="let child of item.children" nz-menu-item nzMatchRouter>
            <a routerLink="{{child.router}}">{{child.title}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <span>当前用户 : {{loginname}}</span>
        <nz-switch [(ngModel)]="switchValue" (ngModelChange)="switchLanguage()" class="right"></nz-switch>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content" id="report">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>