<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      {{ 'nav.home' | translate }}
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>{{ 'nav.inbound.title' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{ 'nav.inbound.asnCheck.title' | translate }}
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<form nz-form [formGroup]="queryForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8" [hidden]="!controlArray[0]">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.checkCode'|translate}}</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="" [formControlName]="'query.checkCode'" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [hidden]="!controlArray[1]">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.asnCode'|translate}}</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="" [formControlName]="'query.asnCode'" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="doSearch()">{{'button.search'|translate}}</button>
      <button nz-button (click)="resetForm()">{{'button.clear'|translate}}</button>
      <a class="collapse" (click)="toggleCollapse()">
        {{'button.collapse'|translate}}
        <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
      </a>
    </div>
  </div>
</form>
<div class="search-result-list">
  <nz-table #xTable [nzData]="asnCheckList" [nzFrontPagination]="false" [nzPageSize]="20" [nzTotal]="total"
    [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzCurrentPageDataChange)="currentPageDataChange($event)"
    (nzPageIndexChange)="changePageIndex($event)" (nzPageSizeChange)="changePageSize($event)">
    <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th>{{'data.checkCode'|translate}}</th>
        <th>{{'data.asnCode'|translate}}</th>
        <th>{{'data.asn.cartonQty'|translate}}</th>
        <th>{{'data.asn.qty'|translate}}</th>
        <th>{{'data.cartonQty'|translate}}</th>
        <th>{{'data.qty'|translate}}</th>
        <th>{{'data.damageCartonQty'|translate}}</th>
        <th>{{'data.damageQty'|translate}}</th>
        <th>{{'data.status'|translate}}</th>
        <th>{{'data.createdTime'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of xTable.data">
        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" [nzDisabled]="data.disabled"
          (nzCheckedChange)="refreshStatus()"></td>
        <td><a routerLink='/in/asnCheckDetails/{{ data.id}}'>{{ data.code }}</a></td>
        <td><a routerLink='/in/asn/asnDetails/{{data.hId}}'>{{ data.asnCode }}</a></td>
        <td>{{ data.asnCartonQty }}</td>
        <td>{{ data.asnQty }}</td>
        <td>{{ data.cartonQty }}</td>
        <td>{{ data.qty }}</td>
        <td>{{ data.damageCartonQty }}</td>
        <td>{{ data.damageQty }}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.createdTime + 'Z'| date:'yyyy-MM-dd HH:mm':'GMT+08:00'}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>