<nz-modal [(nzVisible)]="addFormVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  nzWidth="1000" nzTitle="Create One Stock Check Order">
  <form nz-form [formGroup]="validateForm" class="ant-advanced-edit-form">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired>{{'data.warehouse'|translate}}</nz-form-label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a warehouse" formControlName="freeze.whId">
            <nz-option *ngFor="let wh of whs" nzValue={{wh.id}} nzLabel={{wh.name}}></nz-option>
          </nz-select>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired>{{'data.customer'|translate}}</nz-form-label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a customer" formControlName="freeze.custId"
            (ngModelChange)="onChange($event)">
            <nz-option *ngFor="let cust of custs" nzValue={{cust.id}} nzLabel={{cust.name}}></nz-option>
          </nz-select>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired>{{'data.brand'|translate}}</nz-form-label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a brand" formControlName="freeze.brandId">
            <nz-option *ngFor="let brand of brands" nzValue={{brand.id}} nzLabel={{brand.name}}></nz-option>
          </nz-select>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired>{{'data.goodsType'|translate}}</nz-form-label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a goodsType"
            formControlName="freeze.goodsType">
            <nz-option nzLabel="Matrial" nzValue="Mat"></nz-option>
            <nz-option nzLabel="Product" nzValue="Prod"></nz-option>
          </nz-select>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired>{{'data.typeCode'|translate}}</nz-form-label>
          <nz-form-control>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a type" formControlName="freeze.typeCode">
              <nz-option *ngFor="let type of typeCodes" nzValue={{type.code}} nzLabel={{type.name}}></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired>{{'data.typeMode'|translate}}</nz-form-label>
          <nz-form-control>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a mode" formControlName="freeze.typeMode"
            (ngModelChange)="onTypeModeChange($event)">
              <nz-option *ngFor="let mode of typeModes" nzValue={{mode.code}} nzLabel={{mode.name}}></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired>{{'data.select'|translate}}</nz-form-label>
          <nz-form-control>
            <nz-select nzMode ="multiple" *ngIf="listOfOption" [nzSize]="size" nzPlaceHolder="Please select"
                formControlName="selectIds">
              <nz-option *ngFor="let option of listOfOption" nzValue={{option.code}} nzLabel={{option.name}}>
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label>{{'data.comment'|translate}}</nz-form-label>
          <nz-form-control>
            <input nz-input [formControlName]="'freeze.comment'" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-modal>
