<div>
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            <a>{{ 'nav.home' | translate }}</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a>{{ 'nav.tmpl.title' | translate }}</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a routerLink="../../">{{ 'nav.tmpl.print'| translate}}</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            {{ 'nav.details'| translate}}
        </nz-breadcrumb-item>
        <span class="right"><i nz-icon nzType="sync" nzTheme="outline" (click)="doRefresh()"></i></span>
    </nz-breadcrumb>
</div>
<form nz-form [formGroup]="dataForm" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
        </div>
    </div>
</form>
<print-tmpl-edit-detail-data [editDataFormVisible]="isEditVisible" [id]="detailId" [data]="data"
(visibleChangeBack)="visibleChangeE($event)">
</print-tmpl-edit-detail-data>
<div class="search-result-list">
    <ng-template #totalTemplate let-total>Total {{ total }} items</ng-template>
    <nz-table #xTable [nzData]="list" [nzFrontPagination]="false" [nzPageSize]="20" [nzTotal]="total"
        [nzLoading]="loading" [nzShowTotal]="totalTemplate" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize">
        <thead>
            <tr>
                <th>{{'data.id'| translate }}</th>
                <th>{{'data.tmpl.title'|translate}}</th>
                <th>{{'data.tmpl.isChild'|translate}}</th>
                <th>{{'data.seq'|translate}}</th>
                <th>{{'data.createdTime'|translate}}</th>
                <th>{{'data.edit'|translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of xTable.data">
                <td><a (click)="showTmpl(data.id)">{{ data.id }}</a></td>
                <td>{{ data.tmplTitle }}</td>
                <td>{{ data.isChild }}</td>
                <td>{{ data.seq }}</td>
                <td *ngIf="data.createdTime==null"></td>
                <td *ngIf="data.createdTime!=null">{{ data.createdTime+"Z" | date:'yyyy-MM-dd HH:mm':'GMT+08:00'}}</td>
                <td><a (click)="editTmpl(data.id)">edit</a></td>
            </tr>
        </tbody>
    </nz-table>
</div>