<div>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        {{'nav.home'|translate}}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>{{'nav.inbound.title'|translate}} </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{'nav.details'|translate}}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Import
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <nz-divider nzText="{{id}}"></nz-divider>
      <nz-upload nzAction={{uploadUrl}}>
        <button nz-button><i nz-icon nzType="upload"></i><span>Click to Upload</span></button>
      </nz-upload>
    