<div>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        {{'nav.home'|translate}}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{'nav.outbound.title'|translate}} 
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
         <a routerLink="../../">{{'nav.outbound.recheck'|translate}}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{'nav.details'|translate}}
        <span class="right"><i nz-icon nzType="sync" nzTheme="outline" (click)="doRefresh()"></i></span>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <nz-divider nzText=""></nz-divider>
<form nz-form [formGroup]="headerForm" class="ant-advanced-details-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.warehouse'|translate}}</nz-form-label>
        <nz-select nzDisabled nzPlaceHolder="Select a warehouse" formControlName="ctrl_whId">
          <nz-option *ngFor="let wh of whs" nzValue={{wh.id}} nzLabel={{wh.name}}></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.customer'|translate}}</nz-form-label>
        <nz-select nzDisabled nzPlaceHolder="Select a customer" formControlName="ctrl_custId">
          <nz-option nzLabel="Calzedonia" nzValue="20001"></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.brand'|translate}}</nz-form-label>
        <nz-select nzDisabled nzPlaceHolder="Select a brand" formControlName="ctrl_brandId">
          <nz-option nzLabel="Calzedonia" nzValue="30001"></nz-option>
          <nz-option nzLabel="Intimissimi" nzValue="30002"></nz-option>
          <nz-option nzLabel="Tezenis " nzValue="30003"></nz-option>
          <nz-option nzLabel="Falconeri " nzValue="30004"></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.code'|translate}}</nz-form-label>
        <nz-form-control>
          <label>{{recheck.code}}</label>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
<div class="search-result-list" *ngIf="recheck">
    <nz-table #basicTable [nzData]="detailList" [nzPageSize]=20 [nzFrontPagination]="false" >
      <thead>
        <tr>
          <th>{{'data.id'|translate}}</th>
          <th>{{'data.sku'|translate}}</th>
          <th>{{'data.barcode'|translate}}</th>
          <th>{{'data.qty'|translate}}</th>
          <th>{{'data.createdTime'|translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.id }}</td>
          <td>{{ data.skuNo}}</td>
          <td>{{ data.barcode }}</td>
          <td>{{ data.qty }}</td>
          <td>{{ data.createdTime| date:'yyyy-MM-dd HH:mm':'GMT+08:00'}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>