<Navbar [leftContent]="'返回'" (click)="goBack()">
    出库-出库任务清单-拣货
</Navbar>
<form [formGroup]="scanForm">
    <List>
        <ListItem>拣货单号:{{code}}</ListItem>
        <InputItem [content]="'拣货货位'" formControlName="advBinCode" readonly></InputItem>
        <InputItem [placeholder]="'please input carton'" [content]="'箱号'" formControlName="carton" [focus]="onFocus">
        </InputItem>
        <InputItem [placeholder]="'please input binCode'" [content]="'货位'" formControlName="binCode" [focus]="onFocus">
        </InputItem>
        <ListItem>
            {{SKUList}}
        </ListItem>
        <InputItem [placeholder]="'please input barcode'" [content]="'条码'" formControlName="barcode" [focus]="onFocus"
            (keyup)="($event.which === 13) ? onSubmit() : 0">
        </InputItem>
        <ListItem>
            {{Message}}
        </ListItem>
        <ListItem>
            <a Button [type]="'primary'" [size]="'small'" [inline]="true" (onClick)="done()">
                扫描完成
            </a>
        </ListItem>
    </List>
</form>