<Navbar [leftContent]="'返回'" (click)="goBack()">
    入库-入库任务清单-收货
</Navbar>
<form [formGroup]="scanForm">
    <List>
        <ListItem>{{code}}</ListItem>
        <InputItem [placeholder]="'please input carton'" [content]="'箱号'" formControlName="carton" [focus]="codeFocus"
            [editable]="canEditable" (onFocus)="onFocusChange()" (keyup)="($event.which === 13) ? onKeyDown(2) : 0" 
            [style.background-color] = "bgColor">
        </InputItem>
        <InputItem [placeholder]="'please input barcode'" [content]="'条码'" formControlName="barcode"
            [focus]="barcodeFocus" [editable]="canEditable" (onFocus)="onFocusChange()" [editable]="canEditable"
            (keyup)="($event.which === 13) ? onSubmit() : 0">
        </InputItem>
        <ListItem>
            {{Message}}
        </ListItem>
        <ListItem>
            <a Button [type]="'primary'" [size]="'small'" [inline]="true" (onClick)="onSubmit()">
                提交
            </a>
        </ListItem>
    </List>
</form>