<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      {{'nav.home'|translate}}
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{'nav.inbound.title'|translate}}
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{'nav.list'|translate}}
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<nz-divider nzText=""></nz-divider>
<form nz-form [formGroup]="queryForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label> {{ 'data.code'|translate }}</nz-form-label>
        <nz-form-control>
          <input nz-input [placeholder]="" [formControlName]="'query.code'" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="doSearch()">Search</button>
      <button nz-button (click)="resetForm()">Clear</button>
      <a class="collapse" (click)="toggleCollapse()">
        Collapse
        <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
      </a>
    </div>
  </div>
</form>
<nz-divider nzText=""></nz-divider>
<div class="search-result-list">
  <nz-table #xTable [nzData]="optLogList" [nzFrontPagination]="false" [nzPageSize]="20" [nzTotal]="total"
    [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzCurrentPageDataChange)="currentPageDataChange($event)"
    (nzPageIndexChange)="changePageIndex($event)" (nzPageSizeChange)="changePageSize($event)" [nzTotal]=total>
    <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th>{{'data.id'|translate}}</th>
        <th>{{'data.code'|translate}}</th>
        <th>{{'data.optCode'|translate}}</th>
        <th>{{'data.createdBy'|translate}}</th>
        <th>{{'data.createdTime'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of xTable.data">
        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.orderId]" [nzDisabled]="data.disabled"
          (nzCheckedChange)="refreshStatus()"></td>
        <td>{{ data.id }}</td>
        <td>{{ data.code}}</td>
        <td>{{ data.optCode}}</td>
        <td>{{ data.createdby}}</td>
        <td>{{ data.createdTime+'Z'| date:'yyyy-MM-dd HH:mm':'GMT+08:00'}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>