<Navbar [leftContent]="'返回'" (click)="goBack()">
    入库-质检任务清单-质检扫描
</Navbar>
<form [formGroup]="scanForm">
    <List>
        <ListItem>{{code}}</ListItem>
        <InputItem [placeholder]="'please input carton'" [content]="'箱号'" formControlName="carton" [focus]="onFocus">
        </InputItem>
        <InputItem [placeholder]="'please input barcode'" [content]="'条码'" formControlName="barcode" [focus]="onFocus">
        </InputItem>
        <ListItem>
        <RadioItemGroup (onChange)="onChange($event)"  [(ngModel)]="selectedStatus1.value"  formControlName="qcCode">
            <RadioItem *ngFor="let i of data" [name]="i.name" [value]="i.value">
              {{ i.name }}
            </RadioItem>
          </RadioItemGroup>
        </ListItem>
        <ListItem>
            <a Button [type]="'primary'" [size]="'small'" [inline]="true" (onClick)="onSubmit()">
            提交
            </a>
        </ListItem>
    </List>
</form>