<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a>{{ 'nav.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>{{ 'nav.inbound.title' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{ 'nav.inbound.st.title'| translate}}
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<form nz-form [formGroup]="queryForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.warehouse'|translate}}</nz-form-label>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a warehouse" formControlName="querySt.whId">
          <nz-option *ngFor="let wh of whs" nzValue={{wh.id}} nzLabel={{wh.name}}></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.customer'|translate}}</nz-form-label>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a customer" formControlName="querySt.custId"
          (ngModelChange)="onChange($event)">
          <nz-option *ngFor="let cust of custs" nzValue={{cust.id}} nzLabel={{cust.code}}></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label>{{'data.brand'|translate}}</nz-form-label>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a brand" formControlName="querySt.brandId">
          <nz-option *ngFor="let brand of brands" nzValue={{brand.id}} nzLabel={{brand.code}}></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="doSearch()">{{'button.search'|translate}}</button>
      <button nz-button (click)="resetForm()">{{'button.clear'|translate}}</button>
    </div>
  </div>
</form>
<div class="search-result-list">
  <ng-template #totalTemplate let-total>Total {{ total }} items</ng-template>
  <nz-table #xTable [nzData]="list" [nzFrontPagination]="false" [nzPageSize]="20" [nzTotal]="total" [nzLoading]=false
    [nzShowTotal]="totalTemplate" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" (nzPageIndexChange)="changePageIndex($event)"
    (nzPageSizeChange)="changePageSize($event)">
    <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th>{{'data.code'| translate }}</th>
        <th>{{'data.warehouse'|translate}}</th>
        <th>{{'data.customer'|translate}}</th>
        <th>{{'data.brand'|translate}}</th>
        <th>{{'data.typeCode'|translate}}</th>
        <th>{{'data.bizCode'|translate}}</th>
        <th>{{'data.createdTime'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of xTable.data">
        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" [nzDisabled]="data.disabled"
          (nzCheckedChange)="refreshStatus()"></td>
        <td><a routerLink='stDetails/{{ data.id }}'>{{ data.code }}</a></td>
        <td>{{ data.whId }}</td>
        <td>{{ data.custId }}</td>
        <td>{{ data.brandId }}</td>
        <td>{{ data.typeCode }}</td>
        <td>{{ data.bizCode }}</td>
        <td>{{ data.createdTime+"Z" | date:'yyyy-MM-dd HH:mm':'GMT+08:00'}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>