<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      {{'nav.home'|translate}}
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>{{'nav.inbound.title'|translate}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/in/inbound">{{'nav.inbound.title'|translate}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{'nav.details'|translate}}
    </nz-breadcrumb-item>
    <span class="right"><i nz-icon nzType="sync" nzTheme="outline" (click)="doRefresh()"></i></span>
  </nz-breadcrumb>
</div>
<nz-divider nzText=""></nz-divider>
<form nz-form [formGroup]="validateForm" class="ant-advanced-details-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
         {{'data.warehouse'|translate}}:{{inbound.whId}} 
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        {{'data.customer'|translate}}:{{inbound.custId}} 
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        {{'data.brand'|translate}}:{{inbound.brandId}} 
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        {{'data.code'|translate}}:{{inbound.code}} 
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        {{'data.batchNo'|translate}}:{{inbound.batchNo}} 
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        {{'data.refNo'|translate}}:{{inbound.refNo}} 
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        {{'data.bizCode'|translate}}:{{inbound.bizCode}} 
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        {{'data.goodsType'|translate}}:{{inbound.goodsType}} 
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        {{'data.invoiceNo'|translate}}:{{inbound.invoiceNo}} 
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      {{'data.isCiq'|translate}}:{{inbound.isCiq}} 
    </div>
    <div nz-col [nzSpan]="8">
      {{'data.asnCode'|translate}}:{{inbound.asnCode}} 
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    
  </div>
</form>
<nz-divider nzText=""></nz-divider>
<div class="search-result-list" *ngIf="inbound">
  <nz-table #basicTable [nzData]="inbound.detailList" [nzPageSize]=20>
    <thead>
      <tr>
        <th>{{'data.id'|translate}}</th>
        <th>{{'data.sku'|translate}}</th>
        <th>{{'data.barcode'|translate}}</th>
        <th>{{'data.qty'|translate}}</th>
        <th>created Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.sku}}</td>
        <td>{{ data.barcode }}</td>
        <td>{{ data.qty }}</td>
        <td>{{ data.createdTime| date:'yyyy-MM-dd HH:mm':'GMT+08:00'}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>