<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      {{'nav.home'|translate}}
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>{{'nav.inbound.title'|translate}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>{{'nav.inbound.qc.title'|translate}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{'nav.details'|translate}}
      <span class="right"><i nz-icon nzType="sync" nzTheme="outline" (click)="doRefresh()"></i></span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<div>
  <div>质检单号:{{qc.code}}</div>
  <div>入库单号:{{qc.inbound}}</div>
  <div>扫描开始:{{qc.firstScanAt}}</div>
  <div>扫描结束:{{qc.lastScanAt}}</div>
  <div>单据状态:{{qc.status}}</div>
</div>
<nz-divider nzText=""></nz-divider>
<div class="search-result-list" *ngIf="qc">
  <nz-table #basicTable [nzData]="qcList" [nzPageSize]=20>
    <thead>
      <tr>
        <th>{{"data.id"|translate}}</th>
        <th>{{"data.sku"|translate}}</th>
        <th>{{"data.barcode"|translate}}</th>
        <th>{{"data.qty"|translate}}</th>
        <th>{{"data.createdBy"|translate}}</th>
        <th>{{"data.createdTime"|translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.skuNo}}</td>
        <td>{{ data.barcode }}</td>
        <td>{{ data.qty }}</td>
        <td>{{ data.createdBy }}</td>
        <td>{{ data.createdTime| date:'yyyy-MM-dd HH:mm':'GMT+08:00'}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>