<Navbar [leftContent]="'返回'" (click)="goBack()">
    入库-上架任务清单-上架扫描
</Navbar>
<form [formGroup]="scanForm">
    <List>
        <ListItem>{{code}}</ListItem>
        <InputItem [placeholder]="'please input carton'" [content]="'箱号'" formControlName="carton" 
        [focus]="cartonFocus" (onFocus)="onFocusChange()" [editable]="canEditable"  (keyup)="($event.which === 13) ? onKeyDown(2) : 0">
        </InputItem>
        <InputItem [placeholder]="'please input barcode'" [content]="'条码'" formControlName="barcode" 
        [focus]="barcodeFocus" (onFocus)="onFocusChange()" [editable]="canEditable"  (keyup)="($event.which === 13) ? onKeyDown(3) : 0">
        </InputItem>
        <InputItem [placeholder]="'please input binCode'" [content]="'库位'" formControlName="binCode" 
        [focus]="binFocus" (onFocus)="onFocusChange()" [editable]="canEditable"
        (keyup)="($event.which === 13) ? onSubmit() : 0">
        </InputItem>
        <ListItem>
            {{message}}
        </ListItem>
        <ListItem>
            <a Button [type]="'primary'" [size]="'small'" [inline]="true" (onClick)="done()">
                扫描完成
            </a>
        </ListItem>
    </List>
</form>