.ant-advanced-search-form {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
  }
  
  .search-result-list {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding-top: 8px;
  }
  
  .ant-form-item
  {
    margin-bottom:6px
  }
  
  .ant-table-tbody > tr > td {
    padding: 6px 6px;
    word-break: break-word;
  }
  
  .ant-form-item-label 
  {
    width : 85px
  }
  
  nz-select {
    width: 75%;
  }